*{ margin: 0; padding: 0; list-style: none;}

body
{

/*font: 12px/16px Arial, Helvetica, sans-serif;*/
font: 12px/16px 'Oxygen', sans-serif;
position: relative;
margin: 0;
padding: 0;
display: block;
margin: 8px;
background-color: rgb(63,144,189);
/*    background: url('../images/fondo.jpg');*/
/*background-color: rgb(27,219,219);
background-image: linear-gradient(left top, rgb(27,219,219) 37%, rgb(0,200,235) 69%);
background-image: -o-linear-gradient(left top, rgb(27,219,219) 37%, rgb(0,200,235) 69%);
background-image: -moz-linear-gradient(left top, rgb(27,219,219) 37%, rgb(0,200,235) 69%);
background-image: -webkit-linear-gradient(left top, rgb(27,219,219) 37%, rgb(0,200,235) 69%);
background-image: -ms-linear-gradient(left top, rgb(27,219,219) 37%, rgb(0,200,235) 69%);

background-image: -webkit-gradient(
	linear,
	left top,
	100 bottom,
	color-stop(0.37, rgb(27,219,219)),
	color-stop(0.69, rgb(0,200,235))
);*/

/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=rgb(27,219,219), endColorstr=rgb(0,200,235));
         For Internet Explorer 8 
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#2ECCFA, endColorstr=#2ECCFA)";    */
}

#info_site{
background: white;
/*padding: 10px;*/
width: 100%;
border: 1px solid #F0F0F0;
/*left: 3px;*/
height: 40px;
/*position: relative;*/
padding: 5px 0px 15px;
color: #777;
font-size: 11px;
}


#info_site .avisos {
position: relative;
left: -5px;
top: 4px;
}

#contenedor{
position: relative;
width: 1000px;
margin: 0 auto;
padding: 32px 0 0;
overflow: visible;
clear: both;
z-index: 1;
}


.error_list{
    color: red;
}

.error{
    color:red;
}

.errors{
    color: red;
}


table { font-size:inherit; font:100%; vertical-align: baseline;
background: transparent;
text-align: justify; }

#buscador{
/*    background-color: #77C0F0;*/
/*    padding-top: 12px;
    padding-bottom: 10px;*/
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
}

#listado-contenido{
    width: 979px;
}


#letra-buscador{
color: white;
font-size: 25px;
text-align: center;
}

#letra-ordenar{
color: white;
font-size: 15px;
text-align: center;
}



.select-buscador{
/*   background-color: #77C0F0;
color: white; */
}

.option-buscador{
/*   background-color: #77C0F0;
color: white; */
}

.select-order{
/*background-color: #77C0F0;
color: white; */
}

#campo_busqueda{
/*background-color: #77C0F0;
color: white;  */
}

#capa-centrar{
    text-align: center;
}

#capa-izquierda{
width: 150px;
height: 95px;
float: left;
margin-top: -70px;
padding-bottom: 2px;
margin-left: 75px;
}

#capa-derecha{
width: 150px;
height: 95px;
float: right;
margin-top: -70px;
padding-bottom: 2px;
margin-right:  75px;
}

img{
    border: none;
}

.list_ads_table {
width: 900px;
border-collapse: collapse;
margin: 0;
padding: 0;
/*margin-left: 12px;*/
}

ul {
list-style-type: none;
}

ul.list_ads_row {
clear: both;
display: block;
height: 60px;
padding: 12px 10px;
}

ul.basicList {
padding-left: 10px;
}

ul.list_ads_row {
display: block;
clear: both;
height: 60px;
padding: 12px 10px;
border-radius: 13px;
-moz-border-radius: 35px;
-webkit-border-radius: 20px;
}

.basicList {
width: 975px;
}

.list_ads_row {
background-color: white;
border-bottom: 1px solid #CCC;
border-left: 1px solid #CCC;
border-right: 1px solid #CCC;
}

ul {
list-style-type: none;
}

li {
/*margin-bottom: 10px;*/
}

ul.list_ads_row li {
float: left;
}

.list_ads_table .image {
width: 90px;
margin-bottom: 0;
position: relative;
}

.list_ads_table .subject {
width: 355px;
margin-right: 30px;
padding-left: 15px;
font-weight: bold;
border-top: 0;
}

.list_ads_table .category {
width: 100px;
padding-left: 24px;
text-align: right;
}

.list_ads_table .zone {
width: 110px;
padding-left: 24px;
text-align: right;
float: right;
height: 25px;
margin-bottom: 0;
}

.list_ads_table .user_type_label {
top: 63px;
left: 702px;
width: 130px;
text-align: right;
color: gray;
font-size: 11px;
font-style: italic;
}

#cabecera{
    float: left;
    margin-top: -65px;
    margin-left: 25px;
    position: absolute;
}

#cabecera-principal{
    margin-top:50px;
}

#letra-titulo{
color: white;
font-size: 48px;
margin-top: -10px;
}

h3.description{
font-size: 12px;
font-weight: bold;
padding: 0;
margin: 0;
color:#0431B4;
}

.subjectPrice{
    font-size: 18px;
    color: #0080FF;
}


#estadistica{
    padding: 20px;
}

a.nuevo-anuncio{
    color:black;
}

a.nuevo-anuncio:link{
    text-decoration: none;
}

a.nuevo-anuncio:visited{
    text-decoration: none;
}
.nuevo-anuncio{
    margin-right: -120px;
}

a.terminar2{
    color:black;
}

a.terminar2:link{
    text-decoration: none;
}

a.terminar2:visited{
    text-decoration: none;
}
a.terminar2{
    margin-right: -120px;
}

.enlaces-centro{
    text-align: center;
}

/* Formularios */
table {width: 100%; }
td, th { padding: 7px; }
input { color: black; padding: 3px; }

.enlaces-derecha{
        float: right;
        margin-right: 30px;
}

.iconos-cabecera{
    padding-right: 200px;
}




/*** Style Definitions ***/


/*** Clouds ***/
.clouds					{ width:100%; height: 1000px; overflow:hidden; }
#clouds-small			{ width:3000px; height:100%; background:url(../images/bg-clouds-small.png) repeat-x;}
#cloud2					{ position:relative; top:-262px; }
#clouds-big				{ width:4000px; height:100%; background:url(../images/bg-clouds-big.png) repeat-x;}

/*** Header ***/


#menu				{ 
position: absolute;
top: 110px;
width: 100%;
z-index: 10;
}

#menu a				{ background: white;
color: black;
border: #AAA 3px solid;
text-decoration: none;
padding: 8px;
margin-right: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
font-size: 14px;}
					
#menu a:hover		{ background:#67b2ff; color:#FFF; border:#FFF 3px solid; text-decoration:none; padding:10px;
						margin-right:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}

#menu a.selected	{ background:#AAA; color:#FFF; border:#67b2ff 3px solid; text-decoration:none; padding:10px;
						margin-right:10px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
					
#menu li			{ display: inline-block; }

/*** Body Content ***/
#wrapper	{ width:100%; /*margin-top: -1000px;*/ min-height: 1000px;  top:0; left:0; overflow:hidden; }

/*#mask		{ width:400%;  }*/

/*.box		{ width:25%; float:left; }*/

.content	{ position: relative;
width: 995px;
margin: 0 auto;
padding: 14px;
overflow: visible;
clear: both;
z-index: 1; background:rgba(255,255,255, 0.3);
top:20px;
				border-radius:35px; -moz-border-radius:35px; -webkit-border-radius:35px; }

.inner		{ width:1000px;  background:rgba(255, 255, 255, 0.3); border-radius:30px; -moz-border-radius:30px;
					-webkit-border-radius:30px; margin:5px; padding:15px; top:5px; position:relative; }
.caja-imagen {
position: relative;
float: left;
width: 200px;
margin-right: 10px;
}

h1{
    font-size: 20px !important;
}

#cab{
    color:green;
}

#twitter{
position: absolute;
}

#secciones-imagen{
    border:1px #3399ff;
border-radius:15px;
-moz-border-radius:15px; /* Old Firefox */
width: 100px;
}